.header1 {
    background-color: darkcyan;
    color: lightgoldenrodyellow;
    text-align: center;
}

.maintext {
    background-color: lightgrey;
    padding: 1em;
}

body {
    margin: 0;
   }

.mainbody {
    background-image: url("record.png");
    background-color: white;
    background-repeat: repeat;
}